<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiang.api.stat.mapper.BrowseLogMapper">
	<!-- 查询条件 -->
	<sql id="statCondition">
		<trim prefix="where" prefixOverrides="and">
			<if test="null!=param.startDate">
				and create_time&gt;=#{param.startDate}
			</if>
			<if test="null!=param.endDate">
				and create_time&lt;#{param.endDate}
			</if>
			<if test="null!=param.category">
				and category=#{param.category}
			</if>
			<if test="null!=param.relateId">
				and relate_id=#{param.relateId}
			</if>
		</trim>
	</sql>
	<!-- 按天统计浏览次数 -->
	<select id="statBrowseAmountWithDate" resultType="java.util.Map">
		select
		<choose>
			<when test="null!=param.groupBy and ''!=param.groupBy">
				${param.groupBy}
			</when>
			<otherwise>
				date_format(create_time,'%Y-%m-%d')
			</otherwise>
		</choose>
		as ot,count(ip) as pv,count(distinct ip) as uv from browse_log
		<include refid="statCondition"/>
		group by ot order by ot
	</select>
	<!-- 统计浏览次数 -->
	<select id="statBrowseAmount" resultType="java.util.Map">
		select count(ip) as pv,count(distinct ip) as uv from browse_log
		<include refid="statCondition"/>
	</select>
</mapper>